numpy
matplotlib
rmsd
ase
tqdm
requests
h5py
qmllib
scikit-learn
torch==2.6.0
torchvision
git+https://gitlab.com/matschreiner/Transition1x.git

-f https://data.pyg.org/whl/torch-2.6.0+cu124.html
pyg_lib
torch_geometric
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
